@tailwind base;
@tailwind components;
@tailwind utilities;

@import "button.scss";
@import "table.scss";
@import "forms.scss";
@import "drawer.scss";
@import "animations.scss";

body {
  @apply bg-gray-900 text-white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', SimSun,
  sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.el-loading-mask {
  background-color: rgba(32, 42, 55, 0.9);
}